@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* max-width: 1440px;
  display: flex;
  justify-content: center; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.footer {
  background-image: url("../assets/footer-bg.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .small-screen\\:flex-col {
    flex-direction: column;
  }

  .small-screen\\:gap-4 {
    gap: 1rem;
  }

  .small-screen\\:w-full {
    width: 100%;
  }

  .small-screen\\:justify-center {
    justify-content: center;
  }
}
